<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về chúng tôi</title>
    <link rel="stylesheet" href="/css/about-us.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="icon" type="image/x-icon" href="/image/psychodomine-logo.png"></link>
    </head>
    <body>
        <!--navbar-->

        <header class="header">
          <a href="/templates/library.html">
            <img class="navbar-logo" src="/image/psychodomine-logo.png" alt="logo">
          </a>
          <nav class="navbar-info">
              <a href="/templates/library.html">Thư viện</a>
              <a href ='/templates/about-us.html'> Về chúng tôi</a>
          </nav>
          <button class="navbar-đăng-nhập">Đăng nhập</button>
      </header>
      <!-- phan dau ne-->
      <section class = 'hero'>
        <div class="heading">
          <h1> ABOUT US</h1>
        </div>
        <div class ='content'>
          <div class ='heading-1'>
            <h2> PROJECT INTRODUCTION</h2>
          </div>
          <div class = 'hero-content'>
              <p>
                Xin chào, chúng mình là đội ngũ phát triển của PsychoDomie - một thư viện giúp bạn tìm kiếm những thông tin liên quan đến sức khỏe tâm thần. Với mục tiêu nâng cao nhận thức và hỗ trợ cộng đồng, chúng tôi đã xây dựng một nền tảng dễ sử dụng, nơi bạn có thể tiếp cận các tài nguyên hữu ích về sức khỏe tâm thần.
              Chúng mình tin rằng mỗi người đều xứng đáng có một tâm lý khỏe mạnh, và qua dự án này, chúng mình muốn mang lại sự hỗ trợ kịp thời cho những ai đang cần. PsychoDomie không chỉ đơn thuần là một thư viện thông tin, mà còn là một không gian chia sẻ, học hỏi, và hỗ trợ người dùng vượt qua những thách thức về sức khỏe tinh thần.
              Hãy cùng chúng mình khám phá và tìm hiểu những cách thức để cải thiện sức khỏe tâm thần mỗi ngày, vì một cuộc sống hạnh phúc và cân bằng hơn.
              </p>
          </div>
        </div>
      </section>
      <section class = 'team-member'>
        <div class="heading-2">
          <h2>MEET OUR TEAM</h2> 
        </div>
        <div class="team">
          <img src="/image/team.png">
        </div>
      <!--footer-->
      <footer>
        <div class="footer-container">
            <div class="sec aboutus">
                <h2>About Us</h2>
                <p>Chúng mình là Chill-QuocOai,cùng với PsychoDomine,rất vui được đồng hành với bạn trong hành trình bảo vệ và xây dựng tâm lí vững vàng.</p>
                <p>Mọi thắc mắc xin vui lòng liên hệ đến các trang mạng xã hội sau:</p>
                <ul class="sci">
                    <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                    <li><a href="#"><i class="bx bxl-discord-alt"></i></a></li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Links</h2>
                <ul>
                    <li><a href="/templates/library.html">Home</a></li>
                    <li><a href="/templates/about-us.html">Về chúng tôi</a></li>

                </ul>
            </div>
            <div class="sec contactBx">
                <h2>Contact</h2>
                <ul class="info">
                    <li>
                        <span><i class='bx bxs-map'></i></span>
                        <span>Quoc Oai High School <br> Quoc Oai District <br> Hanoi,Vietnam.</span>
                    </li>
                    <li>
                        <span><i class='bx bx-envelope' ></i></span>
                        <p><a href="mailto:chillquocoai@gmail.com">chillquocoai@gmail.com</a></p>
                    </li>
                </ul>
            </div>
    </footer>
    </body>
</html>