<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin liên hệ</title>
    <link rel="stylesheet" href="/css/info.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="icon" type="image/x-icon" href="/image/psychodomine-logo.png"></link>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <!--navbar-->

        <header class="header">
          <a href="/">
            <img class="navbar-logo" src="/image/psychodomine-logo.png" alt="This is logo">
          </a>
          <nav class="navbar-info">
              <a href="/">Thư viện</a>
              <a href ='/about-us'> Về chúng tôi</a>
              <a href ='/info'>Thông tin liên hệ</a>

          </nav>
        </header>
        <!--cont-->
        <section class ="home" id ="home">
            <div class="home-text">
              <h2 class="home-title">Thông tin liên hệ</h2>
              <p class ="home-subtitle">
                Chào mừng bạn đến với trang tổng hợp các thông tin liên hệ của PsychoDomine.
                <br>Đây là nơi bạn có thể tìm thấy các thông tin về các tổ chức,bệnh viện,v.v để giúp bạn hỗ trợ về sức khỏe tâm lí của bản thân.              
                </p>
             </div>
        </section>
        <main class="organization-list">
            <h3>Các Khoa,Bệnh viện</h3>
            <section class="organization">
              <h3>Viện sức khỏe tâm thần Quốc gia</h3>
              <p><strong>Địa chỉ:</strong> 78 Đ. Giải Phóng, P.Phương Đình, Quận Đống Đa, TP.Hà Nội</p>
              <p><strong>Hotline:</strong> 024 3576 5344</p>
              <p><strong>Email:</strong> Nimhvn@gmail.com</p>
            </section>
          
            <section class="organization">
              <h3>Khoa Tâm bệnh - Bệnh viện Nhi Trung Ương</h3>
              <p><strong>Địa chỉ:</strong> 18/879 Đ. La Thành, Láng Thượng, Q.Đống Đa, TP.Hà Nội</p>
              <p><strong>Hotline:</strong> 086 587 9879</p>
              <p><strong>Website:</strong> <a href="https://benhviennhitrunguong.gov.vn" target="_blank" rel="noopener noreferrer">https://benhviennhitrunguong.gov.vn</a></p>

            </section>
          
            <section class="organization">
              <h3>Khoa Tâm thần - Bệnh viện Quân Y 103</h3>
              <p><strong>Địa chỉ:</strong> Số 261 Đ. Phùng Hưng, P. Phúc La, Quận Hà Đông, TP.Hà Nội</p>
              <p><strong>Hotline:</strong> 0967 811 616</p>
              <p><strong>Website:</strong> <a href="http://www.benhvien103.vn/" target="_blank" rel="noopener noreferrer">http://www.benhvien103.vn/</a></p>
            </section>
            <section class="organization">
                <h3>Khoa Sức khỏe Tâm thần - Bệnh viện E</h3>
                <p><strong>Địa chỉ:</strong> Số 89 Đ. Trần Cung, Phường Nghĩa Tân, Quận Cầu Giấy, TP.Hà Nội</p>
                <p><strong>Hotline:</strong> 086 889 1318</p>
                <p><strong>Website:</strong> <a href="https://benhviene.com/" target="_blank" rel="noopener noreferrer">https://benhviene.com/</a></p>
              </section>
              <section class="organization">
                <h3>Trị liệu tâm lý SHARE</h3>
                <p><strong>Địa chỉ:</strong> 9 Ngõ 69 P. Nguyễn Hy Quang, Chợ Dừa, Quận Đống Đa, TP.Hà Nội</p>
                <p><strong>Hotline:</strong>024 2211 6989 </p>
                <p><strong>Website:</strong> <a href="http://www.tuvantamly.com.vn/" target="_blank" rel="noopener noreferrer">http://www.tuvantamly.com.vn/</a></p>
              </section>
          </main>       
          <main class="organization-list">
            <h3>Số điện thoại,tổ chức hỗ trợ</h3>
            <section class="organization">
              <h3>Đường dây nóng Bảo vệ Trẻ em</h3>
              <p><strong>Hotline:</strong> 111 </p>
              <p><strong>Facebook:</strong> <a href="https://www.facebook.com/tongdaiquocgiabvte." target="_blank" rel="noopener noreferrer">Tổng đài tư vấn Quốc gia về Bảo vệ trẻ em</a></p>
            <p>Hỗ trợ trẻ em, thanh thiếu niên và gia đình gặp khó khăn, bao gồm vấn đề sức khỏe tâm thần.</p>
            </section>
          
            <section class="organization">
              <h3>Trung tâm hỗ trợ tâm lý qua điện thoại - Bệnh viện Tâm thần TPHCM</h3>
              <p><strong>Hotline:</strong> 1900 6233</p>
              <p> Hỗ trợ và tư vấn về các vấn đề tâm lý và sức khỏe tâm thần.</p>
            </section>
          
            <section class="organization">
              <h3>Tổng đài tư vấn của Hội Liên hiệp Phụ nữ Việt Nam </h3>
              <p><strong>Hotline:</strong> 1900 969 680</p>
              <p>Dành cho phụ nữ gặp khó khăn trong cuộc sống, bao gồm các vấn đề về sức khỏe tinh thần.</p>
            </section>
            <section class="organization">
                <h3>Tổ chức Blue Dragon Children’s Foundation</h3>
                <p><strong>Hotline:</strong> 024 3717 0544</p>
                <p>Hỗ trợ trẻ em và thanh thiếu niên, đặc biệt là các vấn đề liên quan đến tâm lý.</p>
              </section>
          </main>   
         <!--footer-->
         <footer>
            <div class="footer-container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>Chúng mình là Chill-QuocOai,cùng với PsychoDomine,rất vui được đồng hành với bạn trong hành trình bảo vệ và xây dựng tâm lí vững vàng.</p>
                    <p>Mọi thắc mắc xin vui lòng liên hệ đến các trang mạng xã hội sau:</p>
                    <ul class="sci">
                        <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="#"><i class="bx bxl-discord-alt"></i></a></li>
                    </ul>
                </div>
                <div class="sec quicklinks">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">Về chúng tôi</a></li>
                        <li><a href="/info">Thông tin liên hệ</a></li>
                    </ul>
                </div>
                <div class="sec contactBx">
                    <h2>Contact</h2>
                    <ul class="info">
                        <li>
                            <span><i class='bx bxs-map'></i></span>
                            <span>Quoc Oai High School <br> Quoc Oai District <br> Hanoi,Vietnam.</span>
                        </li>
                        <li>
                            <span><i class='bx bx-envelope' ></i></span>
                            <p><a href="mailto:chillquocoai@gmail.com">chillquocoai@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
        </footer>
        <script src="/js/index.js"></script>
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/6762b29449e2fd8dfef9d0c1/1ifcoj5qj';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
    </body>
</html>