<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/css/library.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="icon" type="image/x-icon" href="/image/psychodomine-logo.png"></link>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <!--navbar-->

        <header class="header">
          <a href="/templates/library.html">
            <img class="navbar-logo" src="/image/psychodomine-logo.png" alt="This is logo">
          </a>
          <nav class="navbar-info">
              <a href="/templates/library.html">Thư viện</a>
              <a href ='/templates/about-us.html'> Về chúng tôi</a>
          </nav>
          <button class="navbar-đăng-nhập">Đăng nhập</button>
          <!---->
        </header>
        <section class="post-header">
          <div class="header-cont post-contain">
            <a href="/templates/library.html" class = "back-home"><i class='bx bx-arrow-back' ></i>Back to Library</a>
            <h2 class="post-categories"></h2> 

          <img class="header-img">
          <h1 class = "title"></h1>
          <div class="post-authors"> 
            <img class="authors-img">
            <span class="name"></span>
          </div>
          <span class="post-date"></span>
          <p class ="post-content"></p>
        </div>
        <!--post-->
        <script src="/js/post.js"></script> 
        <!--footer-->
        <footer>
          <div class="footer-container">
              <div class="sec aboutus">
                  <h2>About Us</h2>
                  <p>Chúng mình là Chill- QuocOai,cùng với PsychoDomine,rất vui được đồng hành với bạn trong hành trình bảo vệ và xây dựng tâm lí vững vàng.</p>
                  <p>Mọi thắc mắc xin vui lòng liên hệ đến các trang mạng xã hội sau:</p>
                  <ul class="sci">
                      <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                      <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                      <li><a href="#"><i class="bx bxl-discord-alt"></i></a></li>
                  </ul>
              </div>
              <div class="sec quicklinks">
                  <h2>Links</h2>
                  <ul>
                      <li><a href="/templates/library.html">Home</a></li>
                      <li><a href="/templates/about-us.html">Về chúng tôi</a></li>
                  </ul>
              </div>
              <div class="sec contactBx">
                  <h2>Contact</h2>
                  <ul class="info">
                      <li>
                          <span><i class='bx bxs-map'></i></span>
                          <span>Quoc Oai High School <br> Quoc Oai District <br> Hanoi,Vietnam.</span>
                      </li>
                      <li>
                          <span><i class='bx bx-envelope' ></i></span>
                          <p><a href="mailto:chillquocoai@gmail.com">chillquocoai@gmail.com</a></p>
                      </li>
                  </ul>
              </div>
      </footer>
      </section>
    </body>

</html>